/* Regole base css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: black;
    font-size: 16px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Parte iniziale / header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
    
}

.logo-intestazione {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    /*  Debug */
/*     background-color: rgb(98, 235, 212);
    height: 42px; */
    
}

.logo-intestazione > div {
    display: flex;
    justify-content: space-around;
    width: 18%;
    padding: 10px 0;

}

#login {
    padding-left: 100px;
    width: 32%;
}
.botton-accedi {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#testo-intro {
    margin-top: 20px;
}

.botton-header {
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 6px;

}

#link {
    width: 45%;
}

.link-intestazione {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
    
}
h1 {
    font-size: 44px;
}


.schermata-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
    /*  Debug */
/* background-color: rgb(76, 0, 255); */

}
.corpo-header {
    width: 55%;
    height: 80%;
}

/*Parte centrale / Main  */

.sezione-main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Debug */
    height: 450px;
    background-color: white;
}

.box-pubblicità {
    width: 40% ;
        /* debug */
    background-color: blue;
    height: 350px;
    border-style: dashed;
}

.box-img { 
    display: flex;
    flex-basis: 30%;
    
    /* debug */
    background-color: rgb(216, 129, 194);
    height: 350px;
    border-style: dashed;
}


.grigio {
    display: flex;
    flex-direction: row-reverse;
    /* debug */
    background-color: darkgray;
   
}

 /* Fase conclusiva main */
#conclusione-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Debug */
    background-color: darkgray;
    height: 550px;
}
.testo-conclusivo-main {
    width: 70%;
    /* debug */
    background-color: green;
    height: 480px;
    border-style: dashed;

}
/* Finale della pagina / Footer */
.finale-info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: black;
    height: 400px;
}

.riquadro-social {
    width: 21%;
    /* debug */
    height: 360px;
    background-color: darkorchid;
    border-style: dashed;
}

.info-utili {
    width: calc(49% / 4);
    /* debug */
    height: 360px;
    background-color: rgb(204, 124, 50);
    border-style: dashed;

}
.fondo-pagina {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* debug */
    background-color: black;
    height: 65px;
    margin-top: 2px;
}
#piè-di-pagina {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* debug */
    height: 47px;
    background-color: aquamarine;
    border-style: dashed;

}
.bottoni-finali {
    text-align: center;
    /* debug */
    background-color: rgb(134, 94, 94);
    height: 25px;
    border-style: dashed;

}