/* Regole base css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    color: black;
    font-size: 16px;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Parte iniziale / header */

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
    
    
}

.logo-intestazione {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    
}

.logo-intestazione > div {
    display: flex;
    justify-content: space-around;
    width: 18%;
    padding: 10px 0;

}

#login {
    padding-left: 100px;
    width: 32%;
}
.botton-accedi {
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#testo-intro {
    margin-top: 20px;
}

.botton-header {
    margin-top: 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 6px;

}

#link {
    width: 45%;
}

.link-intestazione {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
}

a {
    text-decoration: none;
    color: white;
    
}
h1 {
    font-size: 42px;
}


.schermata-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    display: flex;
    justify-content: center;
    text-align: center;

}
.corpo-header {
    width: 55%;
    height: 80%;
}

/*Parte centrale / Main  */

main > section {
    display: flex;
    column-gap: 70px;
    margin-bottom: 65px;
}

.sezione-main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Debug */
    height: 530px;
    background-color: white;
}

.box-pubblicità {
    width: 30% ;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.box-img { 
    display: flex;
    flex-basis: 30%;
    height: 350px;
}


.grigio {
    display: flex;
    flex-direction: row-reverse;
    /* debug */
    background-color: #F6F6F6;
 /*    background-image: url(../img/wave.svg); */

   
}

 /* Fase conclusiva main */
#conclusione-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F6;
    margin-bottom: 0;
    /* Debug */
    height: 900px;
}
.testo-conclusivo-main {
    text-align: center;
    padding-top: 50px ;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.botton-header.blue {
    margin-top: 20px;
    background-color: #8FA0E2;
    color: white;
    border-radius: 20px;
    padding: 6px;
}

/* Finale della pagina / Footer */
.finale-info {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: #23272A;
    height: 400px;
}

.riquadro-social {
    width: 21%;
    color: white;
    height: 360px;

}

.info-utili {
    width: calc(49% / 4);
    /* debug */
    height: 360px;
    background-color: rgb(204, 124, 50);
    border-style: dashed;

}
.fondo-pagina {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* debug */
    background-color: #23272A;
    height: 65px;
    margin-top: 2px;
}
#piè-di-pagina {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* debug */
    height: 47px;
    background-color: aquamarine;
    border-style: dashed;

}
.bottoni-finali {
    text-align: center;
    /* debug */
    background-color: rgb(134, 94, 94);
    height: 25px;
    border-style: dashed;

}
.ita {
    width: 10%;
}